@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">
            <div class="row">
                <div class="col-sm-12 b-r">
                  <!--  <#input id="username" name="用户名" value="${item.username}" underline="true"/>-->
                    <#input id="phone" name="手机号" value="${item.phone}" underline="true" disabled="disabled"/>
                    <#input id="nickName" name="真实姓名" value="${item.nickName}" underline="true" disabled="disabled"/>
                    <#input id="fee" name="费率" value="${item.fee}" underline="true"/>
                    <#SelectCon id="status" name="状态" value="${item.status}">
                    @if(item.status ==1){
                        <option value='1' selected>正常</option>
                        <option value='2'>冻结</option>
                        <option value='3'>失效</option>
                    @}
                    @if(item.status ==2){
                        <option value='1'>正常</option>
                        <option value='2' selected>冻结</option>
                        <option value='3'>失效</option>
                    @}
                    @if(item.status ==3){
                        <option value='1'>正常</option>
                        <option value='2' >冻结</option>
                        <option value='3' selected>失效</option>
                    @}


                </#SelectCon>
                </div>

              <!--  <div class="col-sm-6">

                </div>-->
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10" style="text-align: center;">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TAgentInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TAgentInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/agent/tAgent/tAgent_info.js"></script>
@}
