@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>代理商管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="name" name="姓名" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="username" name="登录名" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="phone" name="手机号" />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="createTime" name="注册时间" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="level" name="代理等级" >
                               </#SelectCon>
                        </div>
                        <div class="col-sm-1">
                            <#button name="搜索" icon="fa-search" clickFun="TAgent.search()"/>
                        </div>
                        <div class="col-sm-1">
                            <#button name="重置" icon="fa-trash" clickFun="TAgent.resetSearch()" space="true"/>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs" id="TAgentTableToolbar" role="group">
                    @if(shiro.hasPermission("/tAgent/add")){
                         <#button name="添加" icon="fa-plus" clickFun="TAgent.openAddTAgent()"/>
                    @}
                    @if(shiro.hasPermission("/tAgent/update")){
                         <#button name="修改" icon="fa-plus" clickFun="TAgent.openTAgentDetail()" space="true"/>
                    @}
                    @if(shiro.hasPermission("/tAgent/execl")){
                      <#button name="execl" icon="fa-plus" clickFun="TAgent.execl(this)" space="true"/>
                    @}
                    @if(shiro.hasPermission("/tAgent/update")){
                    <#button name="重置密码" icon="fa-plus" clickFun="TAgent.resetPass()" space="true"/>
                    @}
                </div>
                <#table id="TAgentTable"/>
            </div>
        </div>
    </div>
    <form id="test" style="display: none;" action="${ctxPath}/tAgent/execl">
        <input name="name" id="names" type="hidden" >
        <input name="username" id="usernames" type="hidden" >
        <input name="phone" id="phones" type="hidden" >
        <input name="createTime" id="createTimes" type="hidden" >
        <input name="level" id="levels" type="hidden" >
    </form>
</div>
</div>
</div>
<script src="${ctxPath}/static/modular/agent/tAgent/tAgent.js"></script>
@}
