@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-6 b-r">
                    <input type="hidden" id="hidfee" value="${fee}">
                            <#input id="username" type="number" name="登录名" underline="true" placeholder="注意请使用手机号码作为登录名"/>
                            <#input id="password" name="密码" underline="true" disabled="disabled" placeholder="默认密码为123456"/>
                            <#input id="phone" type="number" name="手机号" underline="true"/>

                </div>

                <div class="col-sm-6">
                    <#input id="nickName" name="昵称" underline="true"/>
                    <#input id="fee" name="费率" underline="true" value="${fee}" type="number"/>
                    <span style="color: red;">注：如设置扣率一样，则没有分润，扣率差越大，分润越大！</span>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10" style="text-align: center;">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TAgentInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TAgentInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/agent/tAgent/tAgent_info.js"></script>
@}
