@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>寄存管理</h5>
            </div>
            <div class="ibox-content">
                <input type="hidden" id="memberId" value="${item.memberID}" name="用户id">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="TDollOrderTableToolbar" role="group">
                            <#button name="补发娃娃" icon="fa-plus" clickFun="TDollOrder.backDoll()"/>
                            <#button name="兑换币" icon="fa-plus" clickFun="TDollOrder.dollBackCoins()" space="true"/>
                            <#button name="扣留违规娃娃" icon="fa-plus" clickFun="TDollOrder.callInDoll()" space="true"/>
                        </div>
                        <#table id="MemberTDollOrderTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/backend/member/member_tDollOrder.js"></script>
@}
