@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="id" name="id" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="userName" name="用户名" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="phone" name="手机号" />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="registerDate" name="注册时间" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="phoneModel" name="手机型号">
                                    <option value="">全部</option>
                                    <option value="android">android</option>
                                    <option value="ios">ios</option>
                                    <option value="未知">未知</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="Member.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="MemberTableToolbar" role="group">
                            @if(shiro.hasPermission("/member/update")){
                                  <#button name="用户加币" icon="fa-plus" clickFun="Member.openMemberDetail()"/>
                            @}
                            <#button name="查看抓取记录" icon="fa-youtube" clickFun="Member.openMemberCatchDetail()" space="true"/>
                            <#button name="查看充值记录" icon="fa-xing" clickFun="Member.openMemberChargeDetail()" space="true"/>
                            <#button name="查看寄存详情" icon="fa-xing" clickFun="Member.openMemberGoodsDetail()" space="true"/>
                            <#button name="封号" icon="fa-xing" clickFun="Member.closeMember()" space="true"/>
                            <#button name="解封" icon="fa-xing" clickFun="Member.openMember()" space="true"/>
                            @if(shiro.hasPermission("/member/update")){
                                 <#button name="修改身份" icon="fa-plus" clickFun="Member.updateTest()"/>
                            @}
                        </div>
                         <!--<div class="row">-->
                         <!--<div class="col-sm-3">-->
                        	 <!--<#NameCon id="totalCoins" name="总金额" readonly="readonly" style="width:80px;text-align:right;" />-->
                         <!--</div>-->
                         <!--</div>-->
                        <#table id="MemberTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/backend/member/member.js"></script>
@}
