@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="appKey" name="" underline="true"/>
                            <#input id="version" name="" underline="true"/>
                            <#input id="upgradeUrl" name=""/>
                </div>

                <div class="col-sm-6">
                            <#input id="content" name="" underline="true"/>
                            <#input id="hideFlg" name="" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="TAppVersionInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="TAppVersionInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/backend/tAppVersion/tAppVersion_info.js"></script>
@}
