@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>申请发货列表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="id" name="用户id" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="phone" name="手机" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="addrName" name="姓名" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="TDollOrder.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="TDollOrderTableToolbar" role="group">
                            @if(shiro.hasPermission("/tDollOrder/update")){
                                 <#button name="揽件" icon="fa-plus" clickFun="TDollOrder.order_apply()"/>
                            @}
                        </div>
                        <#table id="TDollOrderTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="${ctxPath}/static/modular/backend/tDollOrder/tDollOrder_apply.js"></script>
@}
