@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>已发货列表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="dollName" name="娃娃名称" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="id" name="用户id" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="phone" name="手机" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="addrName" name="姓名" />
                            </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="TDollOrderOut.search()"/>
                            </div>
                        </div>
                        <#table id="TDollOrderOutTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/backend/tDollOrder/tDollOrderOut.js"></script>
@}
