<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.AgentChargeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.AgentCharge">
		<id column="id" property="id" />
		<result column="order_id" property="orderId" />
		<result column="agent_super_id" property="agentSuperId" />
		<result column="agent_one_id" property="agentOneId" />
		<result column="agent_two_id" property="agentTwoId" />
		<result column="agent_three_id" property="agentThreeId" />
		<result column="agent_super_fee" property="agentSuperFee" />
		<result column="agent_one_fee" property="agentOneFee" />
		<result column="agent_two_fee" property="agentTwoFee" />
		<result column="agent_three_fee" property="agentThreeFee" />
		<result column="agent_super_income" property="agentSuperIncome" />
		<result column="agent_one_income" property="agentOneIncome" />
		<result column="agent_two_income" property="agentTwoIncome" />
		<result column="agent_three_income" property="agentThreeIncome" />
		<result column="update_time" property="updateTime" />
		<result column="create_time" property="createTime" />
		<result column="status" property="status" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id AS orderId, agent_super_id AS agentSuperId, agent_one_id AS agentOneId, agent_two_id AS agentTwoId, agent_three_id AS agentThreeId, agent_super_fee AS agentSuperFee, agent_one_fee AS agentOneFee, agent_two_fee AS agentTwoFee, agent_three_fee AS agentThreeFee, agent_super_income AS agentSuperIncome, agent_one_income AS agentOneIncome, agent_two_income AS agentTwoIncome, agent_three_income AS agentThreeIncome, update_time AS updateTime, create_time AS createTime, status
    </sql>

	<select id="getSumAmountByAgentId" resultType="com.stylefeng.guns.common.persistence.model.AgentCharge" parameterType="com.stylefeng.guns.common.persistence.model.AgentCharge">
		select
		<if test="agentSuperId != null and agentSuperId != 0">
			IFNULL(sum(a.agent_super_income),0.00)agentSuperIncome,(select IFNULL(sum(b.agent_super_income),0.00)
			from agent_charge b where b.status =1 and a.agent_super_id=b.agent_super_id)agentOneIncome
		</if>
		<if test="agentOneId != null and agentOneId != 0">
			IFNULL(sum(a.agent_one_income),0.00)agentSuperIncome,(select IFNULL(sum(b.agent_one_income),0.00)
			from agent_charge b where b.status =1 and a.agent_one_id=b.agent_one_id)agentOneIncome
		</if>
		<if test="agentTwoId != null and agentTwoId != 0">
			IFNULL(sum(a.agent_two_income),0.00)agentSuperIncome,(select IFNULL(sum(b.agent_two_income),0.00)
			from agent_charge b where b.status =1 and a.agent_two_id=b.agent_two_id)agentOneIncome
		</if>
		<if test="agentThreeId != null and agentThreeId != 0">
			IFNULL(sum(a.agent_three_income),0.00)agentSuperIncome,(select IFNULL(sum(b.agent_three_income),0.00)
			from agent_charge b where b.status =1 and a.agent_three_id=b.agent_three_id)agentOneIncome
		</if>
		from agent_charge a	where a.status = 0
		<if test="agentSuperId != null and agentSuperId != 0">
			and a.agent_super_id = #{agentSuperId}
		</if>
		<if test="agentOneId != null and agentOneId != 0">
			and a.agent_one_id = #{agentOneId}
		</if>
		<if test="agentTwoId != null and agentTwoId != 0">
			and a.agent_two_id = #{agentTwoId}
		</if>
		<if test="agentThreeId != null and agentThreeId != 0">
			and a.agent_three_id = #{agentThreeId}
		</if>
	</select>


	<select id="getSumAmountByYesterday" resultType="com.stylefeng.guns.common.persistence.model.AgentCharge" parameterType="com.stylefeng.guns.common.persistence.model.AgentCharge">
		select
		<if test="agentSuperId != null and agentSuperId != 0">
			IFNULL(sum(agent_super_income),0.00)agentSuperIncome
		</if>
		<if test="agentOneId != null and agentOneId != 0">
			IFNULL(sum(agent_one_income),0.00)agentSuperIncome
		</if>
		<if test="agentTwoId != null and agentTwoId != 0">
			IFNULL(sum(agent_two_income),0.00)agentSuperIncome
		</if>
		<if test="agentThreeId != null and agentThreeId != 0">
			IFNULL(sum(agent_three_income),0.00)agentSuperIncome
		</if>
		from agent_charge where TO_DAYS(NOW())-TO_DAYS(create_time) =1
		<if test="agentSuperId != null and agentSuperId != 0">
			and agent_super_id = #{agentSuperId}
		</if>
		<if test="agentOneId != null and agentOneId != 0">
			and agent_one_id = #{agentOneId}
		</if>
		<if test="agentTwoId != null and agentTwoId != 0">
			and agent_two_id = #{agentTwoId}
		</if>
		<if test="agentThreeId != null and agentThreeId != 0">
			and agent_three_id = #{agentThreeId}
		</if>
	</select>

	<select id="selectAgentCharge" resultType="map" parameterType="com.baomidou.mybatisplus.plugins.Page">
		select a.agent_super_id agentSuperId,a.agent_one_id agentOneId,a.agent_two_id agentTwoId,a.agent_three_id agentThreeId,
		<if test="level != null and agentId != null and agentId != 0  and level == 0">
			a.agent_super_income agentIncome,
		</if>
		<if test="level != null and agentId != null and agentId != 0  and level == 1">
			a.agent_one_income agentIncome,
		</if>
		<if test="level != null and agentId != null and agentId != 0  and level == 2">
			a.agent_two_income  agentIncome,
		</if>
		<if test="level != null and agentId != null and agentId != 0  and level == 3">
			a.agent_three_income agentIncome,
		</if>
		a.create_time createTime,b.member_name memberName,a.status status,b.price amount
		from agent_charge a,charge_order b	where a.order_id = b.id
		<if test="level != null and agentId != null and agentId != 0  and level == 0">
			and a.agent_super_id = #{agentId}
		</if>
		<if test="level != null and agentId != null and agentId != 0  and level == 1">
			and a.agent_one_id = #{agentId}
		</if>
		<if test="level != null and agentId != null and agentId != 0  and level == 2">
			and a.agent_two_id = #{agentId}
		</if>
		<if test="level != null and agentId != null and agentId != 0  and level == 3">
			and a.agent_three_id = #{agentId}
		</if>
		order by create_time DESC
	</select>


	<select id="getAgentChargeExecl" resultType="com.stylefeng.guns.common.persistence.model.vo.AgentChargeVo" parameterType="com.stylefeng.guns.common.persistence.model.TAgent">
		select
		b.charge_name chargeName,b.price price,b.member_name memberName,b.create_date createDate,
		a.agent_super_id agentSuperId,a.agent_one_id agentOneId,a.agent_two_id agentTwoId,a.agent_three_id agentThreeId,
		<if test="agentId != null and agentId != 0 and level != null and level == 0">
			a.agent_super_fee agentSuperFee,a.agent_super_income*0.01 agentSuperIncome,
			"-" agentOneFee,"-" agentOneIncome,"-" agentTwoFee,"-" agentTwoIncome,"-" agentThreeFee,"-" agentThreeIncome
		</if>
		<if test="agentId != null and agentId != 0 and level != null and level == 1">
			a.agent_one_fee agentOneFee,a.agent_one_income*0.01 agentOneIncome,
			"-" agentSuperFee,"-" agentSuperIncome,"-" agentTwoFee,"-" agentTwoIncome,"-" agentThreeFee,"-" agentThreeIncome
		</if>
		<if test="agentId != null and agentId != 0 and level != null and level == 2">
			a.agent_two_fee agentTwoFee,a.agent_two_income*0.01 agentTwoIncome,
			"-" agentSuperFee,"-" agentSuperIncome,"-" agentOneFee,"-" agentOneIncome,"-" agentThreeFee,"-" agentThreeIncome
		</if>
		<if test="agentId != null and agentId != 0 and level != null and level == 3">
			a.agent_three_fee agentThreeFee,a.agent_three_income*0.01 agentThreeIncome,
			"-" agentSuperFee,"-" agentSuperIncome,"-" agentOneFee,"-" agentOneIncome,"-" agentTwoFee,"-" agentTwoIncome
		</if>
		<if test="agentId == null and level == null">
			a.agent_super_fee agentSuperFee,a.agent_super_income*0.01 agentSuperIncome,
			a.agent_one_fee agentOneFee,a.agent_one_income*0.01 agentOneIncome,
			a.agent_two_fee agentTwoFee,a.agent_two_income*0.01 agentTwoIncome,
			a.agent_three_fee agentThreeFee,a.agent_three_income*0.01 agentThreeIncome
		</if>
		from agent_charge a,charge_order b	where a.order_id = b.id and b.charge_state=1
		<if test="agentId != null and agentId != 0 and level != null and level == 0">
            and a.agent_super_id = #{agentId}
		</if>
		<if test="agentId != null and agentId != 0 and level != null and level == 1">
			and a.agent_one_id = #{agentId}
		</if>
		<if test="agentId != null and agentId != 0 and level != null and level == 2">
			and a.agent_two_id = #{agentId}
		</if>
		<if test="agentId != null and agentId != 0 and level != null and level == 3">
			and a.agent_three_id = #{agentId}
		</if>
	</select>

</mapper>
