<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.MachinePhysicalProbabilityMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.MachinePhysicalProbability">
		<id column="id" property="id" />
		<result column="doll_id" property="dollId" />
		<result column="strongVoltage" property="strongVoltage" />
		<result column="weakOneVoltage" property="weakOneVoltage" />
		<result column="weakTwoVoltage" property="weakTwoVoltage" />
		<result column="strongTime" property="strongTime" />
		<result column="weakTime" property="weakTime" />
		<result column="created_date" property="createdDate" />
		<result column="created_by" property="createdBy" />
		<result column="modified_date" property="modifiedDate" />
		<result column="modified_by" property="modifiedBy" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, doll_id AS dollId, strongVoltage, weakOneVoltage, weakTwoVoltage, strongTime, weakTime, created_date AS createdDate, created_by AS createdBy, modified_date AS modifiedDate, modified_by AS modifiedBy
    </sql>

	<select id="selectLists" resultType="map" parameterType="com.baomidou.mybatisplus.plugins.Page">
		select
		a.id id, a.doll_id dollId, a.strongVoltage,a.weakOneVoltage,a.weakTwoVoltage,
		a.strongTime,a.weakTime,
		a.created_date createdDate, a.created_by createdBy,
		a.modified_date modifiedDate, a.modified_by modifiedBy
		, b.name name,b.machine_code machineCode
		from machine_physical_probability a LEFT JOIN  t_doll b on a.doll_id = b.id
		where 1=1
		<if test="name!=null and name != ''">
			and b.name like CONCAT('%',#{name},'%')
		</if>
		<if test="dollId!=null and dollId != 0">
			and a.doll_id =#{dollId}
		</if>
		<if test="machineCode!=null and machineCode != ''">
			and b.machine_code = #{machineCode}
		</if>
		order by id desc
	</select>


	<select id="selectByDollId" resultMap="BaseResultMap" >
		select
		*
		from machine_physical_probability
		where doll_id = #{dollId}
	</select>

</mapper>
