<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.MenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.Menu">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="pcode" property="pcode" />
		<result column="pcodes" property="pcodes" />
		<result column="name" property="name" />
		<result column="icon" property="icon" />
		<result column="url" property="url" />
		<result column="num" property="num" />
		<result column="levels" property="levels" />
		<result column="ismenu" property="ismenu" />
		<result column="tips" property="tips" />
		<result column="status" property="status" />
		<result column="isopen" property="isopen" />
	</resultMap>
	<sql id="Base_sql">
		id,code,pcode,pcodes,name,icon,url,num,levels,ismenu,tips,status,isopen
	</sql>

	<select id="selectMenuByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
         <include refid="Base_sql"/>
		 from sys_menu where code = #{code}
	</select>

	<select id="selectMenuByPcode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_sql"/>
		from sys_menu where pcode = #{pcode}
	</select>

	<update id="updMenuByPcode" parameterType="com.stylefeng.guns.common.persistence.model.Menu">
		update sys_menu set status = #{status}
		 where pcode = #{pcode}
	</update>

</mapper>
