<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.TAgentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.TAgent">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="phone" property="phone" />
		<result column="nick_name" property="nickName" />
		<result column="level" property="level" />
		<result column="status" property="status" />
		<result column="agent_id" property="agentId" />
		<result column="agent_one_id" property="agentOneId" />
		<result column="agent_two_id" property="agentTwoId" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="fee" property="fee" />
		<result column="balance" property="balance" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, phone, nick_name AS nickName, level, status, agent_id AS agentId, agent_one_id AS agentOneId, agent_two_id AS agentTwoId, create_time AS createTime, update_time AS updateTime, fee, balance
    </sql>

</mapper>
