<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.TAgentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.TAgent">
		<id column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="phone" property="phone" />
		<result column="nick_name" property="nickName" />
		<result column="level" property="level" />
		<result column="status" property="status" />
		<result column="agent_id" property="agentId" />
		<result column="agent_one_id" property="agentOneId" />
		<result column="agent_two_id" property="agentTwoId" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="fee" property="fee" />
		<result column="balance" property="balance" />
		<result column="balance_disabled" property="balanceDisabled" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, phone, nick_name AS nickName, level, status, agent_id AS agentId, agent_one_id AS agentOneId, agent_two_id AS agentTwoId, create_time AS createTime, update_time AS updateTime, fee, balance,balance_disabled AS balanceDisabled
    </sql>

	<select id="selectTAgentByUId" resultType="com.stylefeng.guns.common.persistence.model.TAgent"  parameterType="java.lang.Integer">
		 select
		 a.id, a.username, a.password, a.phone, a.nick_name AS nickName, a.level, a.status, a.agent_id AS agentId, a.agent_one_id AS agentOneId,
		 a.agent_two_id AS agentTwoId, a.create_time AS createTime, a.update_time AS updateTime, a.fee, a.balance,a.balance_disabled AS balanceDisabled
         from sys_user s
		left join sys_role r on s.roleid = r.id
		left join t_agent a on s.account = a.username
		where s.id = #{uid}
	</select>

	<select id="selectTAgentById" resultType="com.stylefeng.guns.common.persistence.model.TAgent"  parameterType="java.lang.Integer">
		select
		 <include refid="Base_Column_List"/>
		 from  t_agent where id = #{id}
	</select>


	<update id="updateAmount" parameterType="com.stylefeng.guns.common.persistence.model.TAgent">
		update t_agent set balance = #{balance} where id = #{id}
	</update>



	<select id="selectByIdAndLevel" resultType="map"  parameterType="java.lang.Integer">
		select a.`level`as level,a.id,a.balance,a.balance_disabled balanceDisabled,a.fee as fee from sys_user s
		left join sys_role r on s.roleid = r.id
		left join t_agent a on s.account = a.username
		where s.id = #{id}
	</select>



	<select id="selectByIdS" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		id, username, password, phone, nick_name , level, status, agent_id , agent_one_id , agent_two_id , create_time , update_time , fee, balance
		from  t_agent where
		id = #{id}
	</select>



	<select id="selectByValue" resultType="String" parameterType="java.lang.String">
		select value from t_system_pref  where code = #{clod}
	</select>

	<select id="selectTAgentByUsername" resultType="com.stylefeng.guns.common.persistence.model.TAgent"  parameterType="java.lang.String">
		select <include refid="Base_Column_List" /> from t_agent where username  = #{username}
	</select>

	<!--根据条件查询-->
	<select id="selectByLevel" resultType="map" parameterType="com.stylefeng.guns.common.persistence.model.TAgent">
		select
		id, username, password, phone, nick_name AS nickName, level, status, agent_id AS agentId, agent_one_id AS agentOneId, agent_two_id AS agentTwoId, create_time AS createTime, update_time AS updateTime, fee
		<if test="type == 10">
			,(balance-balance_disabled)*0.01 AS balance
		</if>
		<if test="type != 10">
			,"-" AS balance
		</if>
		from  t_agent where 1=1
		<if test="agentId != null and type == 0">
			and agent_id = #{agentId}
		</if>
		<if test="agentId != null and type == 1">
			and agent_one_id = #{agentId}
		</if>
		<if test="agentId != null and type == 2">
		   and agent_two_id = #{agentId}
	    </if>
		<if test="nickName != null and nickName != '' ">
			and nick_name = #{nickName}
		</if>
		<if test="username != null and username != '' ">
			and username = #{username}
		</if>
		<if test="phone != null and phone !=''">
			and phone = #{phone}
		</if>
		<if test="level != null">
			and level = #{level}
		</if>
		<if test="createTime != null and createTime !=''">
			and DATEDIFF(create_time,#{createTime}) &gt;= 0
		</if>
	</select>



</mapper>
