<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.TDollCatchHistoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.TDollCatchHistory">
		<id column="id" property="id" />
		<result column="doll_id" property="dollId" />
		<result column="member_id" property="memberId" />
		<result column="catch_date" property="catchDate" />
		<result column="catch_status" property="catchStatus" />
		<result column="video_url" property="videoUrl" />
		<result column="game_num" property="gameNum" />
		<result column="machine_type" property="machineType" />
		<result column="doll_code" property="dollCode" />
		<result column="doll_name" property="dollName" />
		<result column="doll_url" property="dollUrl" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, doll_id AS dollId, member_id AS memberId, catch_date AS catchDate, catch_status AS catchStatus, video_url AS videoUrl, game_num AS gameNum, machine_type AS machineType, doll_code AS dollCode, doll_name AS dollName, doll_url AS dollUrl
    </sql>


	<select id="selectDollCatchHistoryList" resultType="map" parameterType="com.baomidou.mybatisplus.plugins.Page">
		select
		<include refid="Base_Column_List" />
		from t_doll_catch_history
		where 1=1
		<if test="memberId != null and memberId != ''">
			AND member_id = #{memberId}
		</if>
		<if test="dollId != null and dollId != 0">
			AND doll_id = #{dollId}
		</if>
		<if test="catchStatus != null and catchStatus != ''">
			AND catch_status = #{catchStatus}
		</if>
		<if test="beginDate != null and beginDate != ''">
			AND  DATEDIFF(catch_date,#{beginDate}) &gt;= 0
		</if>
		<if test="endtime != null and endtime != ''">
			AND  DATEDIFF(catch_date,#{endtime})&lt;0
		</if>
		order by catch_date desc
	</select>

	<!--抓取总次数-->
	<select id="selectCatchNum" resultType="java.lang.Integer" >
		select
		count(1)
		from t_doll_catch_history
		where 1=1
		<if test="memberId != null and memberId != 0">
			AND member_id = #{memberId}
		</if>
		<if test="beginDate != null and beginDate != ''">
			AND  DATEDIFF(catch_date,#{beginDate}) &gt;= 0
		</if>
		<if test="endtime != null and endtime != ''">
			AND  DATEDIFF(catch_date,#{endtime})&lt;0
		</if>
		order by catch_date desc
	</select>


	<!--抓取成功次数-->
	<select id="selectCatchSuccessNum" resultType="java.lang.Integer" >
		select
		count(1)
		from t_doll_catch_history
		where 1=1 and catch_status = '抓取成功'
		<if test="memberId != null and memberId != 0">
			AND member_id = #{memberId}
		</if>
		<if test="beginDate != null and beginDate != ''">
			AND  DATEDIFF(catch_date,#{beginDate}) &gt;= 0
		</if>
		<if test="endtime != null and endtime != ''">
			AND  DATEDIFF(catch_date,#{endtime})&lt;0
		</if>
		order by catch_date desc
	</select>



	<select id="selectDollCatchHistorys" resultType="map" parameterType="com.baomidou.mybatisplus.plugins.Page">
		select	a.id,a.catch_date AS catchDate, a.catch_status AS catchStatus,a.machine_type AS machineType,
		 a.doll_code AS dollCode,a.doll_name dollName,b.machine_code machineCode,a.doll_url dollUrl,c.name memberName
		from t_doll_catch_history a,t_doll b ,t_member c
		where a.doll_id=b.id and a.member_id=c.id
		<if test="dollId != null and dollId != 0">
			AND a.doll_id = #{dollId}
		</if>
		<if test="dollName != null and dollName != '' ">
			and a.doll_name like concat(concat("%",#{dollName,jdbcType=VARCHAR}),"%")
		</if>
		<if test="machineCode != null and machineCode != ''">
			AND b.machine_code = #{machineCode,jdbcType=VARCHAR}
		</if>
		<if test="dollCatchStates != null and dollCatchStates != ''">
			AND a.catch_status = #{dollCatchStates}
		</if>
		<if test="machineType != null">
			AND a.machine_type = #{machineType}
		</if>
		<if test="memberName != null and memberName != ''">
			and c.name like concat(concat("%",#{memberName,jdbcType=VARCHAR}),"%")
		</if>
		<if test="beginDate != null and beginDate != ''">
			AND   a.catch_date >= #{beginDate}
		</if>
		<if test="endtime != null and endtime != ''">
			AND  a.catch_date &lt;= #{endtime}
		</if>
		order by a.catch_date desc
	</select>
</mapper>
