<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.TOemMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.TOem">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="appid" property="appid" />
		<result column="appsecret" property="appsecret" />
		<result column="partner" property="partner" />
		<result column="partner_key" property="partnerKey" />
		<result column="company" property="company" />
		<result column="natapp_url" property="natappUrl" />
		<result column="url" property="url" />
		<result column="SMS_code" property="smsCode" />
		<result column="SMS_name" property="smsName" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="is_doll_merge" property="isDollMerge" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, appid, appsecret, partner, partner_key AS partnerKey, company, natapp_url AS natappUrl, url, SMS_code AS smsCode, SMS_name AS smsName, status, create_time AS createTime, update_time AS updateTime, is_doll_merge AS isDollMerge
    </sql>

</mapper>
