@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>用户交易列表管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="name" name="用户昵称" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="machineCode" name="机器号" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="type" name="类型" >
                                    <option value="income">奖励</option>
                                    <option value="expense">消费</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#TimeCon id="chargeDate" name="注册时间" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="MemberChargeHistory.search()"/>
                            </div>
                        </div>
                        <#table id="MemberChargeHistoryTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/backend/memberChargeHistory/memberChargeHistory.js"></script>
@}
