<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zww.base.dao.ValidateTokenDao">
  <sql id="Base_Column_List">
    token,member_id
  </sql>
  <select id="selectByToken" resultType="MemberToken" parameterType="MemberToken">
    select 
    <include refid="Base_Column_List" />
    from t_member_token
    where token = #{token,jdbcType=VARCHAR} limit 1
  </select>
  <select id="selectByMemberId" resultType="MemberToken" parameterType="MemberToken">
    select 
    <include refid="Base_Column_List" />
    from t_member_token
    where member_id = #{id,jdbcType=INTEGER} limit 1
  </select>
  <delete id="deleteByMemberId" parameterType="java.lang.Integer">
    delete from t_member_token
    where member_id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- 更新总币数 -->
	<update id="updateToken" parameterType="MemberToken">
		UPDATE t_member_token
		SET
		token = #{token}
		WHERE
		member_id = #{memberId}
	</update>
	
	<select id="querryMemberById" resultMap="com.zww.api.model.Member">
        <!-- 具体的sql -->
        SELECT
        *
        FROM
        t_member
        WHERE
        id = #{id}
    </select>
 
</mapper>