@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>未审批管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="name" name="代理商姓名" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="phone" name="代理商手机号" />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="createDate" name="创建时间" isTime="false" pattern="YYYY-MM-DD"/>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="AgentWithdraw.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="AgentWithdrawTableToolbar" role="group">
                            @if(shiro.hasPermission("/agentWithdraw/execl")){
                            <#button name="execl" icon="fa-plus" clickFun="AgentWithdraw.execl(this)"/>
                            @}
                        </div>
                        <#table id="AgentWithdrawTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form id="test" style="display: none;" action="${ctxPath}/agentWithdraw/execl">

</form>
<form id="test1" style="display: none;" action="${ctxPath}/agentWithdraw/profitHistory">
    <input type="hidden" name="agentId" id="agentIdForm"/>
    <input type="hidden" name="createDate" id="dateForm"/>
</form>
<script src="${ctxPath}/static/modular/agent/notApproval/agentWithdraw.js"></script>
@}
