@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>银行卡管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="name" name="姓名" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="phone" name="手机号" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="idcard" name="身份证号" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="cardno" name="银行卡号" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="status" name="审核状态" >
                                     <option value="0">未审核</option>
                                     <option value="1">审核成功</option>
                                     <option value="2">审核失败</option>
                                </#SelectCon>
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="BankInfo.search()"/>
                            </div>
                        </div>
                        <#table id="BankInfoTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/agent/bankInfo/bankInfo.js"></script>
@}
